<section class="characters-section">
  <div class="container characters-container">
    <h2 class="hidden-element">Персонажі</h2>
    <div class="characters-text-wrap">
      <img class="characters-text-berry-img" src="/images/characters/berry.png" />
      <p class="characters-title">Унікальні персонажі</p>
      <p class="characters-desc">
        Це авторська унікальна розробка від команди експертів соціології, психології та спеціалістів<br />з нейролінгвістичного програмування. Дана типологія ґрунтується на звичках сприйняття
        інформації, прийняття рішень, мислення та поведінки, що характерні для багатьох із нас.
      </p>
    </div>
    <img class="characters-img cruiser" src="/images/characters/cruiser.png" />
    <img class="characters-img nordic" src="/images/characters/nordic.png" />
    <img class="characters-img projector" src="/images/characters/projector.png" />
    <img class="characters-img paganel" src="/images/characters/paganel.png" />
    <img class="characters-img mr-president" src="/images/characters/mr-president.png" />
    <img class="characters-img deep-thought" src="/images/characters/deep-thought.png" />
    <img class="characters-example-img" src="/images/characters/characters-example.png" />
  </div>
</section>
