<section class="hero-section">
  <div class="container hero-container">
    <h1 class="hidden-element">Про проект</h1>
    <p class="hero-text">
      Відповідаючи на прості запитання, ви отримаєте нагоду визначити свій унікальний тип особистості, краще зрозумієте, на чому звикли фокусуватися, на що зважаєте, коли робите вибір, що вас мотивує,
      як ставитеся до інших. Ще краще розуміння себе допоможе під час<br />звичайного шопінгу чи в роботі над складним проєктом
    </p>
    <img class="hero-decorative-img cloud-02" src="/images/hero/cloud-02.png" />
    <img class="hero-decorative-img cloud-03" src="/images/hero/cloud-03.png" />
    <img class="hero-decorative-img cloud-04" src="/images/hero/cloud-04.png" />
    <img class="hero-decorative-img cloud-05" src="/images/hero/cloud-05.png" />
    <img class="hero-decorative-img cloud-06" src="/images/hero/cloud-06.png" />
    <img class="hero-decorative-img cloud-07" src="/images/hero/cloud-07.png" />
    <img class="hero-decorative-img cloud-08" src="/images/hero/cloud-08.png" />
    <img class="hero-decorative-img ship-left" src="/images/hero/ship-left.png" />
    <img class="hero-decorative-img ship-right" src="/images/hero/ship-right.png" />
    <img class="hero-decorative-img flagstone" src="/images/hero/flagstone.png" />
    <img class="hero-decorative-img cloud-01" src="/images/hero/cloud-01.png" />
    <img class="hero-decorative-img silpo" src="/images/hero/silpo.png" />
    <img class="hero-decorative-img about-me" src="/images/hero/about-me.png" />
  </div>
</section>
