<section class="hero-section">
  <div class="container hero-container">
    <h1 class="hidden-element">Про проект</h1>
    <p class="hero-text" data-aos="fade-up">
      Відповідаючи на прості запитання, ви отримаєте нагоду визначити свій унікальний тип особистості, краще зрозумієте, на чому звикли фокусуватися, на що зважаєте, коли робите вибір, що вас мотивує,
      як ставитеся до інших. Ще краще розуміння себе допоможе під час<br />звичайного шопінгу чи в роботі над складним проєктом
    </p>
    <img class="hero-decorative-img cloud-02" src="/images/hero/cloud-02.png" />
    <img class="hero-decorative-img cloud-03" src="/images/hero/cloud-03.png" />
    <img class="hero-decorative-img cloud-04" src="/images/hero/cloud-04.png" />
    <img class="hero-decorative-img cloud-05" src="/images/hero/cloud-05.png" />
    <img class="hero-decorative-img cloud-06" src="/images/hero/cloud-06.png" />
    <img class="hero-decorative-img cloud-07" src="/images/hero/cloud-07.png" />
    <img class="hero-decorative-img cloud-08" src="/images/hero/cloud-08.png" />
    <img class="hero-decorative-img ship-left" src="/images/hero/ship-left.png" data-aos="fade-up" data-aos-delay="1000" />
    <img class="hero-decorative-img ship-right" src="/images/hero/ship-right.png" data-aos="fade-up" data-aos-delay="1000" />
    <img class="hero-decorative-img flagstone" src="/images/hero/flagstone.png" data-aos="fade-up" data-aos-delay="1000" />
    <img class="hero-decorative-img cloud-01" src="/images/hero/cloud-01.png" />
    <img class="hero-decorative-img silpo" src="/images/hero/silpo.png" data-aos="zoom-in-right" />
    <img class="hero-decorative-img about-me" src="/images/hero/about-me.png" data-aos="zoom-in-left" />
    <img class="hero-decorative-img cloud-10" src="/images/hero/cloud-10.png" />
    <img class="hero-decorative-img woman" src="/images/hero/woman.png" data-aos="fade-up" data-aos-delay="1000" />
    <img class="hero-decorative-img cloud-09" src="/images/hero/cloud-09.png" />
    <img class="hero-decorative-img cloud-12" src="/images/hero/cloud-12.png" />
    <img class="hero-decorative-img bird" src="/images/hero/bird.png" data-aos="fade-up" data-aos-delay="1000" />
    <img class="hero-decorative-img cloud-11" src="/images/hero/cloud-11.png" />
    <img class="hero-decorative-img cloud-13" src="/images/hero/cloud-13.png" />
    <img class="hero-decorative-img cloud-14" src="/images/hero/cloud-14.png" />
    <img class="hero-decorative-img man" src="/images/hero/man.png" data-aos="fade-up" data-aos-delay="1000" />
    <img class="hero-decorative-img bird-left-bottom" src="/icons/hero/bird-left-bottom.svg" data-aos="fade-up" data-aos-delay="1000" />
    <img class="hero-decorative-img bird-left-top" src="/icons/hero/bird-left-top.svg" data-aos="fade-up" data-aos-delay="1000" />
    <img class="hero-decorative-img bird-right-bottom" src="/icons/hero/bird-right-bottom.svg" data-aos="fade-up" data-aos-delay="1000" />
    <img class="hero-decorative-img bird-right-center" src="/icons/hero/bird-right-center.svg" data-aos="fade-up" data-aos-delay="1000" />
    <img class="hero-decorative-img bird-right-top" src="/icons/hero/bird-right-top.svg" data-aos="fade-up" data-aos-delay="1000" />
  </div>
</section>
