<section class="mobile-app-section">
  <div class="container mobile-app-container">
    <h2 class="mobile-app-title" data-aos="fade-up">Мобільна версія</h2>
    <div class="mobile-app-content-wrap">
      <div class="mobile-app-screenshot-wrap main" data-aos="fade-up">
        <div class="mobile-app-screenshot-desc-wrap">
          <p class="mobile-app-screenshot-desc">
            Це авторська унікальна розробка від команди експертів соціології, психології та спеціалістів з нейролінгвістичного програмування. Дана типологія ґрунтується на звичках сприйняття
            інформації, прийняття рішень, мислення та поведінки, що характерні для багатьох із нас.
          </p>
          <img class="mobile-app-decorative-plane-icon main" src="/icons/mobile-app/decorative-plane.svg" />
        </div>
        <img class="mobile-app-screenshot-img" src="/images/mobile-app/screenshot-01.png" alt="Скріншот мобільної версії" />
      </div>
      <div class="mobile-app-screenshot-wrap characters" data-aos="fade-up">
        <div class="mobile-app-screenshot-desc-wrap characters">
          <p class="mobile-app-screenshot-desc">
            Це авторська унікальна розробка від команди експертів соціології, психології та спеціалістів з нейролінгвістичного програмування. Дана типологія ґрунтується на звичках сприйняття
            інформації, прийняття рішень, мислення та поведінки, що характерні для багатьох із нас.
          </p>
          <img class="mobile-app-decorative-plane-icon characters" src="/icons/mobile-app/decorative-plane.svg" />
        </div>
        <img class="mobile-app-screenshot-img" src="/images/mobile-app/screenshot-02.png" alt="Скріншот мобільної версії" />
      </div>
    </div>
  </div>
</section>
