<section class="pages-section">
  <h2 class="pages-section-title" data-aos="fade-up">Інші Сторінки</h2>
  <div class="swiper pages-slider js-pages-slider" data-aos="fade-up">
    <div class="swiper-wrapper pages-slider-wrapper">
      <div class="swiper-slide pages-slider-slide">
        <img class="pages-slider-slide-img" src="/images/pages/page-01.png" />
      </div>
      <div class="swiper-slide pages-slider-slide">
        <img class="pages-slider-slide-img" src="/images/pages/page-02.png" />
      </div>
      <div class="swiper-slide pages-slider-slide">
        <img class="pages-slider-slide-img" src="/images/pages/page-03.png" />
      </div>
      <div class="swiper-slide pages-slider-slide">
        <img class="pages-slider-slide-img" src="/images/pages/page-04.png" />
      </div>
      <div class="swiper-slide pages-slider-slide">
        <img class="pages-slider-slide-img" src="/images/pages/page-05.png" />
      </div>
      <div class="swiper-slide pages-slider-slide">
        <img class="pages-slider-slide-img" src="/images/pages/page-06.png" />
      </div>
    </div>
  </div>
</section>
