<section class="project-section">
  <h1 class="hidden-element">Скріншоти проекту</h1>
  <ul class="project-screenshots-list" data-aos="fade-up">
    <li class="project-screenshots-list-item">
      <img class="project-screenshot-img" src="/images/app/screenshot-02.png" alt="Скріншот проекту" />
    </li>
    <li class="project-screenshots-list-item">
      <img class="project-screenshot-img main" src="/images/app/screenshot-01.png" alt="Скріншот проекту" />
    </li>
    <li class="project-screenshots-list-item">
      <img class="project-screenshot-img" src="/images/app/screenshot-03.png" alt="Скріншот проекту" />
    </li>
  </ul>
</section>
