@font-face {
  font-family: 'Oswald';
  src: local('Oswald'), url('/fonts/oswald/Oswald-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Amatic SC';
  src: local('Amatic SC'), url('/fonts/amatic-sc/AmaticSC-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Circe';
  src: local('Circe'), url('/fonts/circe/Circe-Regular.ttf') format('truetype');
  font-weight: 400;
}
