.project-page-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.project-page-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 335px;
  height: 90px;
  background-image: url('/images/project-page/link-bg-img.png');
  background-position: top 0 left 0;
  background-size: 335px 90px;
  color: var(--white-color);
  font-family: Amatic SC;
  font-size: 30px;
  font-weight: 700;
  line-height: 38px;
  text-transform: uppercase;
}

@media screen and (min-width: 1440px) {
  .project-page-link {
    width: 389px;
    background-size: 389px 90px;
  }
}
